body{
  margin-top: 2%;
  background-image: url("../images/starmap_g4k_1500.png");
  /* background: rgb(15, 87, 121); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  display: flex;
  justify-content: center;
}

#gameCanvas {
  border-radius: 10px;
  box-shadow: 1px -1px 18px rgb(255, 255, 255);
  /* border: 2px solid rgb(107, 107, 107); */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

h1{
  text-align: center;
}

p {
  text-align: center;
  line-height: 1.5em;
  font-weight: 400;
  color: white;
}

#logo{
  padding: 30px;
  display: flex;
  justify-content: center;
}




